/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Primary */
body {
  background: url("../images/bg-mobile.svg") no-repeat;
  background-color: #674baf;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  color: white;
}

h1 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 700;
}

.container {
  width: 80%;
  margin: 36px auto;
}

header {
  text-align: left;
}
header .logo img {
  width: 140px;
}

.ilustration {
  margin-top: 30px;
}
.ilustration img {
  width: 100%;
}

main {
  margin-top: 40px;
}
main p {
  margin-top: 18px;
}
main a[role=button] {
  width: 200px;
  height: 42px;
  background: white;
  display: block;
  margin: 24px auto;
  line-height: 42px;
  text-decoration: none;
  font-size: 14px;
  color: #674baf;
  border-radius: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
}
main a[role=button]:hover {
  color: white;
  background: #674baf;
  border: 1px solid white;
  box-shadow: none;
}

.social-media {
  margin: 60px auto 10px;
  display: flex;
  justify-content: center;
}
.social-media li {
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 100%;
  line-height: 36px;
}
.social-media li:nth-child(2) {
  margin: 0 10px;
}
.social-media li:hover {
  cursor: pointer;
  background: white;
  border: 1px solid #674baf;
}
.social-media li:hover a {
  color: #674baf;
}
.social-media a {
  color: white;
}

footer {
  font-size: 12px;
  text-align: center;
}
footer a {
  color: white;
}

/* MEDIA QUERIES */
/* desktop */
@media screen and (min-width: 992px) {
  body {
    background: url("../images/bg-desktop.svg") no-repeat;
    background-size: cover;
    background-color: #674baf;
  }

  header {
    margin-bottom: 40px;
  }
  header .logo img {
    width: 180px;
  }

  .container {
    width: 90%;
    margin: 36px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  header {
    grid-column: 1/span 2;
    grid-row: 1;
  }

  main {
    text-align: left;
    padding: 40px 100px 40px 50px;
  }
  main h1 {
    font-size: 28px;
  }
  main a[role=button] {
    text-align: center;
    margin-left: 0;
    width: 180px;
    height: 50px;
    line-height: 50px;
  }

  .social-media {
    grid-column: 1/span 2;
    grid-row: 3;
    margin: 10px 0;
    justify-content: flex-end;
  }

  footer {
    grid-column: 1/span 2;
    grid-row: 4;
    text-align: right;
  }
}

/*# sourceMappingURL=styles.css.map */
